body {
	background-color: white;
	
}



#offCanvas {
	background-color: rgba(0,0,0,.7);
	color: black;
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
}

.vertical .menu {
	background-color: rgba(0,0,0,1);
	color: black;
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
}



.menu-small {
	
	border: 1px solid black;
	background:url(../Assets/fondo_footer/Footer-Fondo.jpg);
	background-size: cover;
	height: auto;
	
}

.menu-small a{
	font-family: 'Montserrat' bold, sans-serif;
	font-size: 40px;
	color: white;
	z-index: 1;
}

.contacto-container {
	background-color: #000000;
	color: black;
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
	height: auto;
	height: 41px;
}

.contacto-container img {
	width: 30px;
}

.contacto-container a{
	color: white;
	
}

#contacto-container .telefono,
#contacto-container .mail {
	margin-top: 5px;
	margin-top: 9px;
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;

}

#contacto-container .medios {
	margin-top: 3px;
}


.medios-div i{
	text-align: right;
}


.medios-container {
	margin: 0 1px;
}

.telefono, .mail {
	padding: 0;
}

.data-sticky {
	width: 100%;
	z-index: 200;
}

#logo-container {
	
	background-color: white;
	z-index: 300;
	

}

.logo a {
	color: black;
	font-family: 'Montserrat', sans-serif;
	/*text-transform: uppercase;*/
	margin: 0px;
	align-items: center;
	text-align: center;
	font-size: 45px;
	font-variant: small-caps;
}

#logo-container .natan-menu a,
#logo-container .natan-menu h1,
.menu  {
	/*background-color: lightblue;*/
	color: black;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	margin: 0px;
	align-items: center;
	text-align: center;
	font-size: 15px;
	border: 0px;
}

#div-logo-container {
	align-items: center;
	margin: 0px;


}

/*#div-logo-container h1:before {
	content: url(../Assets/Logo-NatanAyala_derecho.png);
	
}*/

#div-logo-container .menu1 a {
	background-color: white;
	border: 0px;
	color: black;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	text-align: left;
	font-size: 15px;
}

#div-logo-container .tabs,
#div-logo-container .tabs-title
#div-logo-container .tabs .tabs-title .is-active a,
{
	background-color: #8b8d90;
	border: 0px;
	color: blue;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	text-align: left;
	font-size: 15px !important; 
	
}


.Raw-Fluorescence img,
.Lite-Experience img,
.arium img,
.prismatic img,
.rinoh img,
.vector img {
	max-width: 250px;
	margin: 0 auto;
}

/*.Raw-Fluorescence img:hover,
.Lite-Experience img:hover,
.arium img:hover,
.prismatic img:hover,
.rinoh img:hover,
.vector img:hover {
	background-image: url(../Assets/Portadas_Proyectos/Arium-Portada-NatanAyala.jpg);
	max-width: 300px;
	transition: 2s;

	z-index: 1;
}*/

#proyectos-container {
	background-color: white;
	/*padding: 50px 0;*/
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	text-align: center;
	/*margin-bottom: 30px;*/
}

#proyectos-container h3 {
	margin-bottom: 30px;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	text-decoration: underline;
	text-align: center;
}



.caja:hover .info-proyectos {

	filter: alpha(opacity=80);
	opacity: .8;

}

.caja {
	position: relative;
	margin: 30px 0;
}

.caja img {
	width: 300px;
	max-width: 100%;
}

.info-proyectos {
position: absolute; /*Info sobre la imagen*/
top: 0%;
left: 0%; /*Desplazamos a partir de la esquina superior izquierda*/
zoom: 1;
filter: alpha(opacity=0); /*Opacidad Para IE */
opacity: 0; /*Inicialmente transparente */
padding: 25px;
color: white;
background-color: rgba(0,0,0,.7);
-moz-transition:all ease .8s; /*Aplicamos una ligera transición*/
-webkit-transition:all ease .8s ;
transition:all ease .8s;
z-index: 3;
width: 300px;
height: 215px;
}

.proyecto-titulo {
	font-size: 30px;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
}
.proyecto-cliente {
	font-size: 15px;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
}

.proyecto-año {
	font-size: 12px;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
}

/*Inicia sección de cv*/
#cv-container {
	padding-top: 90px;
}


.imagen-cv img {
	width: 30%;
	height: 0%;
	min-width:25%;

}

.imagen-cv h2 {
	margin:10px 0;
	font-variant: small-caps;	
	color: black;
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
}

.imagen-cv p {
	text-transform: uppercase;
	color: black;
	font-family: 'Montserrat', bold sans-serif;
	font-size: 14px;
	margin: 0px;
}

#extras img {
	margin-bottom: 20px;
}

.habilidades {
	max-width: 100%;
    max-height: 100%;
    margin: 30px 30px;
}

#extras {
	max-width: 100%;
    max-height: 100%;
    margin: 30px 30px;
}

.habilidades h2, .habilidades1 h2, .habilidades2 h2 {
	font-family: 'Montserrat', bold sans-serif;
	text-transform: uppercase;
	font-size: 25px;
    text-align: -webkit-left;
}

}

#habilidades img {
	max-width: 100%;
    width: 100%;
    height: auto;

}

.habilidades1 img {
	max-width: 100%;
    width: 100%;
    height: auto;
	
}

.habilidades2 img {
	max-width: 70%;
	/*max-height: 100%;*/
	width: 60%
	height:80%;
	
	
}

.habilidades2, .colegio p {
	text-align: left;
	color: black;
	font-family: 'Montserrat', bold sans-serif;
	text-transform: uppercase;
	font-family: 15px;

}

.habilidades2  p {
	margin: 0px;
}

.imagen-cv p {
	margin-bottom: 30px;
}


#educacion h2, 
#experiencia h2 {
	text-align: left;
	color: black;
	font-family: 'Montserrat', bold sans-serif;
	text-transform: uppercase;
	font-size: 20px;
}


#educación-experiencia .año  {
	text-align: right;
	font-size: 15px;
	
}

#educacion-experiencia {
	margin: auto 60px;
}

#educacion .eduperiencia,
#experiencia .eduperiencia {
	text-align: justify;
	font-size: 12px;
	color: gray;
	font-family: 'Montserrat', normal sans-serif;
	text-transform: uppercase;
}

.eduperiencia span {
	color: black;
	font-family: 'Montserrat', bold sans-serif;
	font-size: 18px;
}

.eduperiencia img {
	max-width: 20px;
}

/*Termina sección de cv*/


/*Inicia el footer*/

#footer-container {
	background:url(../Assets/fondo_footer/Footer-Fondo.jpg);
	background-size: cover;
	height: auto;
	padding-top: 100px;
}

#footer-container h3, h4 {

	color: white;
	font-family: 'Montserrat', normal sans-serif;
	text-transform: uppercase;
	font-size: 20px;
}

/*#footer-container h3 {

	color: white;
	font-family: 'Montserrat', normal sans-serif;
	text-transform: uppercase;
	font-size: 20px;
}*/

#div-footer-container {
	border: 1px solid black;
	
	
}

#div-footer-container a {
	text-align: left;
	color: white;
	font-family: 'Montserrat', normal sans-serif;
	text-transform: uppercase;
	font-size: 45px;
}

#natan-logo {
	height: 200px;
}

#formulario-container label {
	color: white;
	font-family: 'Montserrat', normal sans-serif;
	text-transform: uppercase;
}

.input-group-button input{
	background-color: white;
	color: black;
	font-family: 'Montserrat', normal sans-serif;
	text-transform: uppercase;
}

#datos-adicionales-container .logo-natan  {
	width: 75px;
	margin: 30px 0;
}

#datos-adicionales-container .logo-linarte  {
	width: 80px;
	/*margin: 30px 0;*/
}

#datos-adicionales-container img {
	width: 50px;
	margin: 30px 0;
}

#datos-adicionales-container h3 {
	margin: 0px;
	text-transform: none;
	font-size: 18px;
	font-family: 'Montserrat', normal sans-serif;
}

#datos-adicionales-container a, p {
	margin: 0px;
	text-transform: uppercase;
	font-family: 'Montserrat', normal sans-serif;
	color: white;
	font-size: 10px;

}

#datos-adicionales-container a {
	text-decoration: underline;
	
}

/*Termina el footer*/


/*Inicia Sección proyectos*/
#Raw-Fluorescence-container,
#Lite-Experience-container,
#Arium-container,
#Prismatic-container,
#Rinoh-container,
#Vector-container {
	margin: 40px 0;
}
/*#Raw-Fluorescence-container .row {
	max-width: 66.5rem;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}
*/

#Raw-Fluorescence-container h1,
#Lite-Experience-container h1,
#Arium-container h1,
#Prismatic-container h1,
#Rinoh-container h1,
#Vector-container h1{
	text-transform: uppercase;
	font-family: 'Montserrat', bold sans-serif;
	color: black;
	text-decoration: none;
	margin: 0px;
	text-align: left;
	font-size: 36px;
}

#Raw-Fluorescence-container h3,
#Lite-Experience-container h3, 
#Arium-container h3,
#Prismatic-container h3,
#Rinoh-container h3, 
#Vector-container h3{
	text-transform: uppercase;
	font-family: 'Montserrat', bold sans-serif;
	color: black;
	text-decoration: none;
	margin: 0px;
	text-align: left;
	font-size: 14px;
}

#Raw-Fluorescence-container h4,
#Lite-Experience-container h4,
#Arium-container h4,
#Prismatic-container h4,
#Rinoh-container h4, 
#Vector-container h4{
	text-transform: uppercase;
	font-family: 'Montserrat', bold sans-serif;
	color: black;
	text-decoration: none;
	margin: 0px;
	text-align: left;
	font-size: 12px;
}
#Raw-Fluorescence-container p,
#Lite-Experience-container p,
#Arium-container p,
#Prismatic-container p,
#Rinoh-container p, 
#Vector-container p{
	text-transform: uppercase;
	font-family: 'Montserrat', normal sans-serif;
	color: black;
	text-decoration: none;
	margin: 10px 0;
	text-align: justify;
	font-size: 12px;
}

/*Termina sección proyectos*/