body {
	background-color: lightblue;
	
}



#offCanvas {
	background-color: rgba(0,0,0,.7);
	color: black;
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
}

.vertical .menu {
	background-color: rgba(0,0,0,1);
	color: black;
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
}

.menu-small {
	font-family: 'Montserrat' bold, sans-serif;
	font-size: 40px;
	border: 1px solid black;
	background-color: orange;
}

.contacto-container {
	background-color: #4C4C4C;
	color: black;
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
	height: auto;
}

.contacto-container img {
	width: 30px;
}

.contacto-container a{
	color: white;
	
}

.medios-div i{
	text-align: right;
}

.medios-div {
	
	
}

.medios-container {
	margin: 0 1px;
}

.telefono, .mail {
	padding: 0;
}

.data-sticky {
	width: 100%;
	z-index: 200;
}

#logo-container {
	
	background-color: white;
	z-index: 300;
	padding: 15px 0;

}

#logo-container a,
#logo-container h1,
.menu  {
	/*background-color: lightblue;*/
	color: black;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	margin: 0px;
	align-items: center;
	text-align: center;
	width: auto;
}

#div-logo-container {
	align-items: center;
	margin: 0px;

}

/*#div-logo-container h1:before {
	content: url(../Assets/Logo-NatanAyala_derecho.png);
	
}*/


#div-logo-container .is-active a,
#div-logo-container .is-active li{
	background-color: lightgray;
	border: 0px;
}

#proyectos-container {
	margin-bottom: 100px;
}

.Raw-Fluorescence img,
.Lite-Experience img,
.arium img,
.prismatic img,
.rinoh img,
.vector img {
	max-width: 250px;
	margin: 0 auto;
}

/*.Raw-Fluorescence img:hover,
.Lite-Experience img:hover,
.arium img:hover,
.prismatic img:hover,
.rinoh img:hover,
.vector img:hover {
	background-image: url(../Assets/Portadas_Proyectos/Arium-Portada-NatanAyala.jpg);
	max-width: 300px;
	transition: 2s;

	z-index: 1;
}*/

#proyectos-container {
	background-color: orange;
	padding: 50px 0;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	text-align: center;
}

#proyectos-container h3 {
	margin-bottom: 60px;
}



.caja:hover .info-proyectos {

	filter: alpha(opacity=80);
	opacity: .8;

}

.caja {
	position: relative;
	margin: 30px 0;
}

.caja img {
	width: 300px;
	max-width: 100%;
}

.info-proyectos {
position: absolute; /*Info sobre la imagen*/
top: 2%;
left: 0%; /*Desplazamos a partir de la esquina superior izquierda*/
zoom: 1;
filter: alpha(opacity=0); /*Opacidad Para IE */
opacity: 0; /*Inicialmente transparente */
padding: 20px;
color: white;
background-color: rgba(0,0,0,.7);
-moz-transition:all ease .8s; /*Aplicamos una ligera transición*/
-webkit-transition:all ease .8s ;
transition:all ease .8s;
z-index: 3;
width: 300px;
height: 207px;
}

.proyecto-titulo {
	font-size: 30px;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
}
.proyecto-cliente {
	font-size: 15px;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
}

.proyecto-año {
	font-size: 12px;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
}

/*Inicia sección de cv*/
.imagen-cv img {
	width: 30%;
	height: 0%;
	min-width:25%;

}

.imagen-cv h2 {
	margin:10px 0;
	text-transform: uppercase;
	color: black;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
}

.imagen-cv p {
	text-transform: uppercase;
	color: black;
	font-family: 'Montserrat', sans-serif;
	font-size: 10px;
	margin: 0px;
}

.habilidades {
	max-width: 1500px;
	max-height: 400px;
	margin: 30px 0;
}

.habilidades h2, .habilidades1 h2, .habilidades2 h2 {
	font-family: 'Montserrat', bold sans-serif;
	text-transform: uppercase;
	font-size: 20px;
    text-align: -webkit-left;
}

}

.habilidades img {
	width: 50%;
	height: 50%;
	/*max-width: */

}

.habilidades1 img {
	max-width: auto;
	max-height: auto;
	/*max-width: */
	
}

.habilidades2 img {
	max-width: 37%;
	max-height: 37%;
	/*max-width: */
	
}

.habilidades2, .colegio p {
	text-align: left;
	color: black;
	font-family: 'Montserrat', bold sans-serif;
	text-transform: uppercase;
	font-family: 15px;
}
.imagen-cv p {
	margin-bottom: 30px;
}

.años p {
	text-align: left;
	color: black;
	font-family: 'Montserrat', bold sans-serif;
	text-transform: uppercase;
	font-family: 15px;
}

/*Termina sección de cv*/